<div class="yield-container new-scan-container" data-controller="ocr">
    <h2 class="bold-secondary-title">New Scan</h2>

    <%= form_with url: scans_path do |f| %>
        <div class="back-plate inputs-back-plate">
            <%= f.label :title, 'Title', class: 'bold-third-title' %>
            <%= f.text_field :title, class: 'third-title', id: 'first-title-input', data: { controller: 'synchronize-fields', action: 'keyup->synchronize-fields#synchronize' } %>
            <%= f.file_field :image, id: 'first-image-input', class: 'third-title file-label', data: { action: 'change->ocr#upload' } %>
        </div>

        <div class="back-plate">
            <h2 class="bold-secondary-title" id="display-title">Title</h2>
            <%= f.hidden_field :transcriptions, id: 'transcriptions-input' %>
            <textarea id="display-transcriptions" placeholder="Your transcriptions will appear here..."></textarea>

            <% if current_user %>
                <%= f.submit 'Save this scan', class: 'bold-third-title main-cta', id: 'submit-input' %>
            <% else %>
                <%= link_to 'Register now to be able to save your scans', new_user_registration_path %>
            <% end %>
        </div>
    <% end %>
</div>