<div class="login-container yield-container">
  <h2 class="bold-secondary-title">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'back-plate' }) do |f| %>
    <div class="field">
      <%= f.label :email, class: 'third-title' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'third-title' %>
    </div>

    <div class="field">
      <%= f.label :password, class: 'third-title' %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: 'third-title' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: 'bold-third-title main-cta' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>