<!DOCTYPE html>
<html>
  <head>
    <title>OcrImageReader</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/000d9bfcce.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <%= yield %>

    <%= render 'shared/flashes' %>
    <%= render 'shared/footer' %>
  </body>
</html>
